.auth-form-container{
    width: 600px;
    min-height: 200px;
    height: fit-content;
    border: 1px solid #393E46;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 35px;
}
.auth-form-inputs{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}